/*
responsive for smart phone
*/
@media screen and (max-width: 280px) {

}


@media screen and (min-width: 281px) and (max-width: 450px) {
    .deck{
        margin-left: 5%;
        margin-right: 5%;
    }

    .card{
        width: 25%;
    }
}

/*
responsive for iPad
*/
@media screen and (min-width: 451px) and (max-width: 999px) {
    .container{

    }

    .deck{
        /*width: 80%;*/
        margin-left: auto;
        margin-right: auto;
    }

    .deck .card{
        margin-left: auto;
        margin-right: auto;
    }
}

/*
responsive for Desktop
*/
@media screen and (min-width: 1000px){

}