/*
responsive for smart phone
*/
@media screen and (max-width: 280px) {
    header{
        text-align: center;
    }
    .container{

    }

    .deck{
        width: 90%;
        left: 5%;
        right: 5%;
    }

    .card{

    }

    .deck .card{
        width: 23%;
    }
}


@media screen and (min-width: 281px) and (max-width: 450px) {
    header{
        text-align: center;
    }
    .container{

    }

    .deck{
        width: 90%;
        left: 5%;
        right: 5%;
    }

    .card{

    }

    .deck .card{
        width: 23%;
    }
}

/*
responsive for iPad
*/
@media screen and (min-width: 451px) and (max-width: 999px) {
    header{
        text-align: center;
    }
    .container{

    }

    .deck{
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .card{

    }

    .deck .card{
        width: 23%;
    }
}

/*
responsive for Desktop
*/
@media screen and (min-width: 1000px){

}