/*
responsive for smart phone
*/
@media screen and (max-width: 280px) {
    header{
        text-align: center;
    }

    .deck{
        width: 90%;
        left: 5%;
        right: 5%;
    }

    .card{

    }

    .deck .card{
        width: 23%;
    }

    .modal-title{
        font-size: 1.5em;
    }

    .play_again_button{
        font-size: 1.3em;
    }
}


@media screen and (min-width: 281px) and (max-width: 450px) {
    header{
        text-align: center;
    }

    .deck{
        width: 90%;
        left: 5%;
        right: 5%;
    }

    .card{

    }

    .deck .card{
        width: 23%;
    }

    .modal-content{
        margin-top: 30%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*
responsive for iPad
*/
@media screen and (min-width: 451px) and (max-width: 999px) {
    header{
        text-align: center;
    }

    .deck{
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .card{

    }

    .deck .card{
        width: 23%;
    }

    .modal-content{
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/*
responsive for Desktop
*/
@media screen and (min-width: 1000px){
    header{
        text-align: center;
    }

    .deck{
        width: 70%;
        left: 15%;
        right: 15%;
    }

    .card{

    }

    .deck .card{
        width: 23%;
    }

    .modal-content{
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%;
    }
}